// $primary-color:      #121212; // darkest for top-level, hero backgrounds
// $secondary-color:    #333333; // sections, cards background
// $tertiary-color:     #555555; // sub-sections, hover states
// $quaternary-color:   #777777; // borders, subtle dividers
// $background-color:   #eeeeee; // page background
// $text-color:         #222222; // text color
// $text-color-inverse: #ffffff; // text color

// // ----------------------
//  $primary-color:      #6B8E23 ; // darkest for top-level, hero backgrounds
//  $secondary-color:    #B0C4A4; // sections, cards background
//  $tertiary-color:     #DCDCDC ; // sub-sections, hover states
//  $quaternary-color:   #A2AFAF ; // borders, subtle dividers
//  $background-color:   #F7F9F2 ; // page background
//  $text-color:         #333333 ; // text color
//  $text-color-inverse: #ffffff; // text color
// // ----------------------
// $primary-color:      #5D8AA8 ; // darkest for top-level, hero backgrounds
// $secondary-color:    #A8C3D3 ; // sections, cards background
// $tertiary-color:     #CBCBD1 ; // sub-sections, hover states
// $quaternary-color:   #8D9093 ; // borders, subtle dividers
// $background-color:   #FAFAFC ; // page background
// $text-color:         #2C2C2E ; // text color
// $text-color-inverse: #ffffff; // text color
// // ----------------------
// $primary-color:      #E07A5F ; // darkest for top-level, hero backgrounds
// $secondary-color:    #F4D4BA ; // sections, cards background
// $tertiary-color:     #DEDEDE ; // sub-sections, hover states
// $quaternary-color:   #AFAFAF ; // borders, subtle dividers
// $background-color:   #FFF9F5 ; // page background
// $text-color:         #3A3A3C ; // text color
// ----------------------
 $primary-color:      #E94708 ; // darkest for top-level, hero backgrounds
 $secondary-color:    #C2AAB0 ; // sections, cards background
 $tertiary-color:     #F6D4B2 ; // sub-sections, hover states
 $quaternary-color:   #F4B3C1 ; // borders, subtle dividers
 $quinary-color:      #8F8EAF ; // borders, subtle dividers
 $background-color:   #FFF9F5 ; // page background
 $text-color:         #27120A ; // text color
 $text-color-inverse: #E9EAEB; // text color
