@use "../../assets/styles/colors" as colors;

.about {
    width: 100vw;
    height: 100vh;
    background-color: colors.$background-color;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 2;

        .left {

            .image_wrapper {
                position: relative;
                width: 100%;
                border-radius: 2px;
                overflow: hidden;
                --overlay-scale: 1;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: colors.$background-color;
                    transform-origin: left;
                    transform: scaleX(var(--overlay-scale));
                    z-index: 1;
                }

                .img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            .about_text_wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 2rem;

                .about_text {
                    color: colors.$text-color;
                    width: 30%;
                }
            }

            .story_wrapper {
                color: colors.$text-color;
                width: 100%;
                margin-left: 2rem;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        flex: 1;

        .title_wrapper {
            .about_title {
                color: colors.$text-color;
                font-size: 4.5rem;
                font-family: "nelphim", sans-serif;
            }
        }

        .final_section {
            background-color: colors.$text-color;
            color: colors.$text-color-inverse;
            width: 35%;
            padding: 2rem;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: .5;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

            .about_you_text {
                font-weight: 600;
            }

            .contacts_content_cta {
                text-decoration: none;
                background-color: colors.$background-color;
                border-radius: 12px;
                font-family: "nelphim", sans-serif;
                padding: 1rem 2rem;
                text-align: center;
                cursor: pointer;
                color: colors.$text-color;
                transition: all .2s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            }
        }
    }
}