@use "../../assets/styles/colors" as colors;

.cards_wrapper {
    width: 70%;
    margin: 0 auto;
    height: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards_title {
        font-size: 3rem;
        font-family: "nelphim", sans-serif;
        color: colors.$text-color;
        margin-bottom: 4rem;
    }

    .card_list {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        .card {
            position: relative;
            height: 520px;
            max-width: 38%;
            border-radius: 18px;
            padding: 2rem;
            color: colors.$text-color;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            h3 {
                font-size: 1.2rem;
                font-family: "nelphim", sans-serif;
            }
            p {
                font-size: 1rem;
                width: 80%;
                font-weight: 500;
                font-family: "kollektif", sans-serif;
            }
            ul{
                list-style-type: disc;
                font-size: 1rem;
                width: 100%;
                font-weight: 500;
                font-family: "kollektif", sans-serif;
                li{
                    list-style: disc;
                }
            }
        }

        .card:nth-child(4n + 1),
        .card:nth-child(4n + 4) {
            max-width: 58%;
        }

        .card:nth-child(odd) {
            background-color: #fffcf2;
        }

        .card:nth-child(even) {
            background-color: #fdebeb;
        }

        .card_wrapper {
            position: relative;
            height: 520px;
            max-width: 38%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card_half {
                height: calc(50% - 0.5rem);
                border-radius: 18px;
                padding: 2rem;
                color: colors.$text-color;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: left;
                background-color: #fffcf2;

                h3 {
                    font-size: 1.2rem;
                    font-family: "nelphim", sans-serif;
                }
                p {
                    font-size: .85rem;
                    width: 80%;
                    font-weight: 500;
                    font-family: "kollektif", sans-serif;
                }
                ul {
                    list-style-type: disc;
                    font-size: 1rem;
                    width: 100%;
                    font-weight: 500;
                    font-family: "kollektif", sans-serif;
                    li {
                        list-style: disc;
                    }
                }
            }

            .card_half_video {
                height: calc(50% - 0.5rem);
                border-radius: 18px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                background-color: #fdebeb;

                video {
                    border-radius: 18px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .card_wrapper:nth-child(even) .card_half {
            background-color: #fdebeb;
        }

        .card_wrapper:nth-child(even) .card_half_video {
            background-color: #fffcf2;
        }
    }
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}