@use "../../assets/styles/colors" as colors;

.explanation_wrapper {
    width: 70%;
    margin: 0 auto;
    height: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: colors.$text-color;
    padding-bottom: 4rem;
    h2 {
        font-size: 3rem;
        margin-bottom: 4rem;
        font-family: "nelphim", sans-serif;
    }
    .explanation_container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
        .explanation_item {
            flex: 1;
            width: 15%;
            aspect-ratio: 2 / 2;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fffcf2;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            text-align: center;
            padding: 1rem;
            h3 {
                font-size: .9rem;
                font-weight: bold;
                color: colors.$text-color;
                font-family: "nelphim", sans-serif;
            }
        }
    }
}