@use "../../assets/styles/colors" as colors;

.footer_wrapper {
    p {
        font-size: .7rem;
        font-weight: 500;
        color: colors.$text-color-inverse;
        font-family: "nelphim", sans-serif;
        span {
            font-family: "kollektif", sans-serif;
            font-weight: bold;
            color: #E83B3A;
            cursor: pointer;
        }
    }
}