.intro_wrapper {
    width: 100%;
    height: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    .intro_text {
        position: relative;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        background-color: #d8d8d8;
        border-radius: 18px;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        gap: 1rem;
        color: #131313;
        z-index: 1;
        .intro_text_sub {
            font-size: .7rem;
        }
        .intro_text_title {
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: -1.2px;
        } 
        .intro_text_cta {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: -1.2px;
            border-radius: 12px;
            padding: 1rem;
            cursor: pointer;
            background-color: #131313;
            color: #fff;
            transition: all .2s ease-in-out;
            &:hover {
                transform: translateY(-4px);
                color: #131313;
                background-color: #b7b7b7;
            }
        }  
    }
    video {
        z-index: 2;
        width: 70%;
        height: auto;
        background-color: #303030;
        border-radius: 18px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }
}